################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Programming 1 Working Labs/Lab 1/.vs/Lab 1/v16
