################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Programming 1 Working Labs/Lab 1/.vs/Lab 1/v16
/Programming 1 Working Labs/Lab 2/Debug Exercise/.vs/Debug Exercise/v16
/Programming 1 Working Labs/Lab 2/Lab 2/.vs/Lab 2/v16
/Programming 1 Working Labs/Lab 3B/.vs/Lab 3B
/Programming 1 Working Labs/Lab 4A/.vs/Lab 4A/v16
/Programming 1 Working Labs/Lab 5B/.vs/Lab 5B/v16
/Programming 1 Working Labs/Lab 6A/.vs/Lab 6A/v16
/Programming 1 Working Labs/Lab 7A/.vs/Lab 7A/v16
/Programming 1 Working Labs/Lab 9A/.vs/Lab 9A/v16
/Programming 1 Working Labs/ProgrammersChoice/.vs/ProgrammersChoice/v16
/Programming 1 Working Labs/Shop/Shop/.vs/Shop/v16
/Programming 2/Test/Midterm Example/.vs/Midterm Example/v16
/System Programming/Week1/Basic Cpp Exercises/.vs/Basic Cpp Exercises/v16
/.vs
/System Programming/Lab1 Cpp Basics/.vs/Lab1 Cpp Basics/v16
